workflow:
  rules:
    - if: "$CI_PIPELINE_SOURCE == 'merge_request_event'"
    - if: "$CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH != 'main'"
    - when: never

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  DOCKER_BUILDKIT: "1"
  COMPOSE_DOCKER_CLI_BUILD: "1"

stages:
  - test

default:
  image: docker:24.0.6
  services:
    - name: docker:24.0.6-dind
      alias: docker
  before_script:
    - docker version
    - docker info

pytest:
  stage: test
  script:
    - docker compose -f docker-compose.local.yml build django
    - docker compose -f docker-compose.docs.yml build docs
    - docker compose -f docker-compose.local.yml run --rm django python manage.py makemigrations --check
    - docker compose -f docker-compose.local.yml run --rm django python manage.py migrate
    - docker compose -f docker-compose.local.yml run --rm django pytest
  after_script:
    - docker compose -f docker-compose.local.yml down --volumes --remove-orphans
