volumes:
  cosray_backend_local_postgres_data: {}
  cosray_backend_local_postgres_data_backups: {}


services:
  django:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: cosray_backend_local_django
    container_name: cosray_backend_local_django
    depends_on:
      - postgres
    volumes:
      - /app/.venv
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - '8000:8000'
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: cosray_backend_production_postgres
    container_name: cosray_backend_local_postgres
    volumes:
      - cosray_backend_local_postgres_data:/var/lib/postgresql/data
      - cosray_backend_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres
